/* Side Bar */

.Tests_sideBar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding-bottom: 10px;
    padding-top: 10px;
}

.sideBar_card:last-child {
    border-bottom: none;
}

.sideBar_card {
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    margin-top: 10px;
    text-align: right;
}

.card-title {
    text-align: right;
    font-weight: 700;
}

.sideBar_card p {
    font-size: 13px;
}

.fas.fa-star {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: 1s;
    cursor: pointer;
}

#starsTnxMsg {
    display: none;
    ;
}

.sidebar_ul {
    list-style: none;
    padding: 10px;
    text-align: right;
    margin-bottom: 0.5rem;
}

.sidebar_ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.sidebar_ul li a:hover {
    color: rgb(81, 67, 131);
}

#extraFiles {
    text-align: center;
    ;
}

.sidebar_ul li i {
    margin-left: 25px;
}